doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Bibin Dvor

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.3/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top') Bibin Dvor
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#amenities') Amenities
                        li.nav-item
                            a.nav-link(href='#signup') Contact

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
                .d-flex.justify-content-center
                    .text-center
                        h1.mx-auto.my-0.text-uppercase BIBIN DVOR
                        h2.text-white-50.mx-auto.mt-2.mb-5 Welcome to your relaxation paradise.
                        a.btn.btn-primary.gradient2(href='#about') See More

        // About
        section#about.about-section.text-center
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8
                        h2.text-white.mb-4 Private, quiet, perfect
                        p.text-white-50
                            | Far away from the city traffic but still so close to civilization to make it your perfect holiday destination.
                img.img-fluid(src='assets/img/top.jpg', alt='...')

        section#amenities.projects-section.bg-light
            .container.px-4.px-lg-5
                h1 Amenities
                .row.gx-5
                    .col-lg-4.mb-5
                        .card.h-100.shadow.border-0
                            img.card-img-top(src='https://www.intrepidtravel.com/adventures/wp-content/uploads/2017/05/split-croatia-istock.jpg', alt='...')
                            .card-body.p-4
                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 1 hour drive
                                h5.card-title.mb-3 City of Split
                                p.card-text.mb-0
                                    | Check out what 1700 years of heritage looks like.
                            .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                a(href='https://goo.gl/maps/seta6EtGDdGj3T3F7', target='blank') Get directions
                    .col-lg-4.mb-5
                        .card.h-100.shadow.border-0
                            img.card-img-top(src='https://cdn.theculturetrip.com/wp-content/uploads/2016/05/dubrovnik.jpg', alt='...')
                            .card-body.p-4
                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 2.5 hour drive
                                h5.card-title.mb-3 City of Dubrovnik
                                p.card-text.mb-0
                                    | Ancient republic and the host to Game of Thrones. Definitely worthwhile the day trip.
                            .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                a(href='https://goo.gl/maps/x7Sgp63B6rHronkt5', target='blank') Get directions
                    .col-lg-4.mb-5
                        .card.h-100.shadow.border-0
                            img.card-img-top(src='https://croatia.hr/sites/default/files/styles/image_full_width/public/2018-05/omis-optimizirano-za-web-ivo-biocina.jpg?itok=3imc4DER', alt='...')
                            .card-body.p-4
                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Less than hour
                                h5.card-title.mb-3 City of Omis
                                p.card-text.mb-0
                                    | If you are into outdoors, Omis is for you. From kayaking, rafting, canyoning to ziplines, climbing and mountain biking, this small town has it all.
                            .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                a(href='https://goo.gl/maps/5mzCg192YCK5dyKE9', target='blank') Get directions
                    .col-lg-4.mb-5
                        .card.h-100.shadow.border-0
                            img.card-img-top(src='https://cdn.tourcms.com/a/9338/60/1/large.jpg', alt='...')
                            .card-body.p-4
                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 1 hour drive
                                h5.card-title.mb-3 Medugorje
                                p.card-text.mb-0
                                    | A must see for Catholic pilgrims.
                            .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                a(href='https://goo.gl/maps/x28beKkFGgVNvieq7', target='blank') Get directions
                    .col-lg-4.mb-5
                        .card.h-100.shadow.border-0
                            img.card-img-top(src='https://live.staticflickr.com/8117/8695798224_46fb76423e_b.jpg', alt='...')
                            .card-body.p-4
                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 Less than an hour
                                h5.card-title.mb-3 Blue Lake in Imotski
                                p.card-text.mb-0
                                    | A perfect place for a picnic.
                            .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                a(href='https://goo.gl/maps/At8udPvP7D5yRvK7A', target='blank') Get directions
                    .col-lg-4.mb-5
                        .card.h-100.shadow.border-0
                            img.card-img-top(src='https://www.sugamantours.com/wp-content/uploads/2020/07/Biokovo-Skywalk-panoramic-view.jpg', alt='...')
                            .card-body.p-4
                                .badge.bg-primary.bg-gradient.rounded-pill.mb-2 1 hour drive
                                h5.card-title.mb-3 Skywalk Biokovo
                                p.card-text.mb-0
                                    | See if you dare to walk the glass skywalk over the abyss of Biokovo mountain.
                            .card-footer.p-4.pt-0.bg-transparent.border-top-0
                                a(href='https://goo.gl/maps/w1Pmu4rvW9VUzXbE9', target='blank') Get directions

        // Signup
        section#signup.signup-section.contact-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .social.d-flex.justify-content-center
                        a.mx-2(href='https://www.airbnb.com/rooms/27036343', target='blank')
                            i.fab.fa-airbnb
                        a.mx-2(href='viber://chat?number=%2B385989193009', target='blank')
                            i.fab.fa-viber
                .row.gx-4.gx-lg-5
                    .col-md-10.col-lg-8.mx-auto.text-center
                        h2.text-white.mb-5 Get in touch!
                        form#contact.form-signup.d-flex.flex-column.flex-sm-row(netlify)
                            input#inputEmail.form-control.flex-fill.me-0.me-sm-2.mb-3.mb-sm-0(type='email', placeholder='Enter email address...', name="email")
                            button.btn.btn-primary(type='submit') Send

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container.px-4.px-lg-5
                | Created by:
                a(href="https://github.com/marincelo/", target="blank") Marin Bareta

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
